In [3]:
#Week05_Numpy Assignment
#Question01-Question02
import numpy as np
house_size=[50,75,90,120,100,90,60,50,120,100]
house_room=[1,2,3,4,3,3,1,1,4,3]
house_price=[50000,75000,90000,120000,100000,90000,60000,50000,120000,100000]
#len(house_size)
#creating an empty array
house_combine=[[0 for j in range(3)]for i in range(10)]
counter=0
for i in range(10):
        house_combine[i][0]=house_size[i]
        house_combine[i][1]=house_room[i]
        house_combine[i][2]=house_price[i]
#This will already created the desired transposed array
house_combine_array=np.asarray(house_combine)
print("Created array with including three lists:\n",house_combine_array)
house_combine_array=house_combine_array.transpose()
print("Transposed array:\n",house_combine_array)
house_combine_array=house_combine_array.transpose()
print("Re-Transposed array:\n",house_combine_array)

Created array with including three lists:
 [[    50      1  50000]
 [    75      2  75000]
 [    90      3  90000]
 [   120      4 120000]
 [   100      3 100000]
 [    90      3  90000]
 [    60      1  60000]
 [    50      1  50000]
 [   120      4 120000]
 [   100      3 100000]]
Transposed array:
 [[    50     75     90    120    100     90     60     50    120    100]
 [     1      2      3      4      3      3      1      1      4      3]
 [ 50000  75000  90000 120000 100000  90000  60000  50000 120000 100000]]
Re-Transposed array:
 [[    50      1  50000]
 [    75      2  75000]
 [    90      3  90000]
 [   120      4 120000]
 [   100      3 100000]
 [    90      3  90000]
 [    60      1  60000]
 [    50      1  50000]
 [   120      4 120000]
 [   100      3 100000]]

In [32]:
#Question03 
#first of all, the array was created as 3x10 which means first row is related with size, the second is related with room and final row is related with
#price. When we transpose it, the array updated as 10x3 which means, we have 10 house and each house has the attribute of (column of) size, room and price

In [6]:
#Because the link is not available, I used the following earthquaked.csv https://gist.github.com/astrofrog/b29141f2b39bb2dfe7ce
#Question04
import pandas as pd
#earth_quake_data=pd.read_csv("Earthquakes.csv")
earth_quake_data=pd.read_csv("earthquakes1970-2014.csv")
#To check whether success or not
#earth_quake_data.head()
#Selecting first 20 rows
#Question 5 
selected_rows=earth_quake_data[1:21]
#selected_rows
#The dataset I use, the selected column index number 4 has the magnitute value, I included as final column(4)
#selected_columns=selected_rows.iloc[:,[3,5,6,7,12,4]]

selected_columns=selected_rows.iloc[:,[2,4,5,6,11]]

selected_columns
#Question 6

mag_abovefourpfive=selected_columns.loc[(selected_columns['Magnitude'] >= 4.5)]
print(mag_abovefourpfive.iloc[:,0:0])#To get empty dataframe 0:0 is written

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
#Question 7
#The index value is already 1, for this reason, the first row's value will be updated as 1
mag_abovefourpfive.loc[1]=[1,1,1,1,1,1]
mag_abovefourpfive

     depth magType  nst    gap                   updated  mag
1     1.00       1  1.0    1.0                         1  1.0
3    51.75      mb  NaN  105.0  2014-09-10T19:04:47.878Z  4.8
5    23.26      mb  NaN   64.0  2014-09-10T15:12:24.204Z  5.0
7   109.79      mb  NaN   91.0  2014-09-10T13:15:12.261Z  4.6
8    10.00      mb  NaN   98.0  2014-09-10T13:36:52.955Z  4.6
9    64.40      mb  NaN   86.0  2014-09-10T12:24:34.027Z  4.7
10   35.00      mb  NaN   48.0  2014-09-10T12:23:23.497Z  4.6
12   30.00      mb  NaN   34.0  2014-09-10T17:35:30.130Z  5.6
13   13.34      mb  NaN  134.0  2014-09-10T17:09:02.936Z  4.7
14   60.67      mb  NaN   47.0  2014-09-10T15:36:32.229Z  5.0
15   30.00      mb  NaN   47.0  2014-09-10T14:02:46.086Z  5.0
16   10.00      mb  NaN   88.0  2014-09-10T13:31:04.516Z  4.9
17   47.95      mb  NaN   58.0  2014-09-10T13:22:58.803Z  5.6
18   30.00      mb  NaN   33.0  2014-09-10T14:43:29.000Z  5.7
19   30.00     mww  NaN   24.0  2014-09-10T13:56:06.000Z  6.2

In [9]:
#Question08
mag_abovefourpfive.to_csv("abovefourpfive.csv")

In [10]:
#Question09
earth_quake_data2=pd.read_csv("abovefourpfive.csv")

In [11]:
#Question10, std() will calculate standard Deviation in all numerical columns
earth_quake_data2.std()

C:\Users\tmedeni\AppData\Local\Temp\ipykernel_13960\3653123085.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  earth_quake_data2.std()

Unnamed: 0       5.916080
Longitude      145.848933
Magnitude        0.230046
NbStations      57.332341
EventID       8356.166813
dtype: float64

In [12]:
earth_quake_data2.mean()

C:\Users\tmedeni\AppData\Local\Temp\ipykernel_13960\3781557848.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  earth_quake_data2.mean()

Unnamed: 0    1.050000e+01
Longitude     3.075311e+01
Magnitude     6.265000e+00
NbStations    7.555000e+01
EventID       1.970019e+09
dtype: float64

In [13]:
#Question11
#earth_quake_data2-[1,NULL,25,25,10,NULL,4]
#earth_quake_data2
#Question12
earth_quake_data2.mul(2)

    Unnamed: 0  Longitude  Magnitude MagType  NbStations       EventID
0            2   302.9160       12.4    MsMs       170.0  3.940021e+09
1            4   357.1360       12.2    MbMb       118.0  3.940022e+09
2            6   253.4740       12.2    MbMb       182.0  3.940022e+09
3            8  -305.3200       12.0    MLML         0.0           NaN
4           10  -354.6980       13.0    MbMb       350.0  3.940024e+09
5           12   285.9320       12.8    MsMs       398.0  3.940024e+09
6           14  -208.5960       13.2    MsMs       280.0  3.940024e+09
7           16   332.7400       12.8    MsMs       182.0  3.940025e+09
8           18  -198.9680       13.0    MsMs       200.0  3.940041e+09
9           20   244.2340       13.2    MsMs       188.0  3.940041e+09
10          22   201.5500       12.2    MsMs       114.0  3.940041e+09
11          24   206.0620       12.0    MsMs       188.0  3.940045e+09
12          26  -359.1796       12.0    MLML         0.0           NaN
13          28  -350.0800       12.2    MLML         0.0           NaN
14          30   287.4140       12.4    MsMs       164.0  3.940061e+09
15          32   337.2060       13.0    MsMs       122.0  3.940062e+09
16          34   297.7400       12.0    MbMb       130.0  3.940062e+09
17          36  -307.9400       13.0    MLML         0.0           NaN
18          38  -138.9980       12.0    MbMb       236.0  3.940063e+09
19          40   347.5000       13.0    MLML         0.0           NaN